@import "styles/layout.css";
@import "styles/typography.css";
@import "styles/highlight.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font: "Roboto", "Helvetica", "Arial", sans-serif;
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --primary: #4791DB;
    --secondary: #B1B1B3;
    --dark: #1A202C;
    --light: #E2E8F0;

    --white: #ffffff;
    --code: #19252e;

    --tag: #e3f0fc;
    /* --tag-border:#a29f9a; */
    --tag-text:#4791DB;

    --text: var(--dark);

    --topbar-height: 50px;
    --sidebar-width: 250px;

    --quote: var(--tag);
    --quote-side: var(--tag-text);

    --example-border: var(--light);

    --props-border: var(--light);
    --props-devider: var(--code);
    --props-types-bg: var(--tag);
    --props-types-border: var(--tag-border);
    --props-types-text: var(--tag-text);
    --props-oneof-text: var(--hl-builtin);
    --props-default-text: var(--light);
    
    --hl-background: var(--code);
    --hl-text: #D6DEEB;
    --hl-comment: #637777; 
    --hl-keyword: #7FDBCA; 
    --hl-string: #ADDB67; 
    --hl-number: #F78C6C; 
    --hl-name: #FFCB8B; 
    --hl-attr: #ADDB67; 
    --hl-builtin: #8B6CAF; 
}

